@import '_setting';

.board-content {
  height: $board-content-height;
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;

  &:after {
    content: '';
    flex: 0 0 $gap;
  }

  &::-webkit-scrollbar {
    -webkit-appearance: none;
  }

  &::-webkit-scrollbar:horizontal {
    height: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, .24);
    border-radius: 5px;
  }

  .column-drop-preview {
    background-color: rgba(150, 150, 200, 0.1);
    border: 1px dashed #abc;
    margin: 5px 45px 5px 5px;
  }

  .form-add-new-column {
    width: 270px;
    max-width: 270px;
    line-height: 32px;
    margin-left: $gap;

    .add-new-column,
    .enter-new-column {
      flex: auto;
      line-height: 32px;
      padding: 4px 10px;
      border-radius: 3px;
    }

    .add-new-column {
      cursor: pointer;
      background-color: hsla(0, 0%, 100%, .24);
      color: #fff;
      display: flex;
      align-items: center;

      &:hover {
        background-color: hsla(0, 0%, 100%, .34);
      }
    }

    .enter-new-column {
      background-color: $column-bg-color;
  
      input.input-enter-new-column {
        margin: 5px 0;
      }
    }
  }

  & > .smooth-dnd-container > .smooth-dnd-drop-preview-constant-class {
    width: 320px !important;
  }
}
