@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap');

$gap: 10px;
$navbar-app-height: 44px;
$navbar-board-height: 52px;
$board-content-height: 88vh;

$app-main-text-color: #333;
$column-bg-color: #ebecf0;
$input-border-color: #80bdff;
