@import '_setting';

.navbar-board {
  height: $navbar-board-height;
  padding-left: $gap;
  display: flex;
  align-items: center;

  .invite-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: hsla(0,0%,100%,.32);
    padding: 5px 10px;
    border-radius: 5px;
    border: none;

    &:hover {
      background-color: #ffffffe6;
    }
  }

  .title {
    color: #fff;
    background-color: hsla(0,0%,100%,.32);
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: 700;
    margin-left: 10px;
  }

  .divider {
    border-left: 1px solid hsla(0,0%,100%,.24);
    height: 16px;
  }

  .private {
    color: #fff;
    background-color: hsla(0,0%,100%,.32);
    padding: 5px 10px;
    border-radius: 5px;
  }
}

.invite-popover {
  width: 300px;

  .ant-popover-title {
    height: 40px;
    margin: 0 12px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .ant-popover-inner {
    border-radius: 3px;
    box-shadow: 0 8px 16px -4px #091e4240,0 0 0 1px #091e4214;

    .input-search {
      display: flex;
      flex-flow: row wrap;
      box-shadow: inset 0 0 0 2px #dfe1e6;
      padding: 4px 8px;
      margin-bottom: 10px;

      &.active {
        box-shadow: inset 0 0 0 2px #0079bf;
      }

      .ant-tag {
        margin: 4px 8px 4px 0;
        display: flex;
        align-items: center;
      }
    }

    input {
      margin: 3px 7px 3px 0;
      padding: 0 !important;
      border: none !important;
      width: auto !important;

      &:focus {
        box-shadow: none !important;
      }
    }
  }

  .send-invitation {
    width: 100%;
    border: none;
    border-radius: 3px;
    margin-top: 8px;
  }
}
